<% layout("/layouts/biolerplate") %> <%= success %>
<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    
  }
  .filter {
    text-align: center;
    margin-left: 2rem;
    margin-top: 1rem;
    opacity: 0.5;
  }
  .filter p {
   font-size: 0.7rem;
  }
  .filter:hover {
      opacity: 1;
      cursor: pointer;
      text-decoration: underline ;
  }
  .tax-info {
    display: none;
  }
  .tax-toggle {
    margin-top: 1rem;
    border: 1px solid black;
    border-radius:1rem;
    margin-left: 5rem;
    height: 3rem;
    width: 13rem;
  }
.form-check-reverse  {
  text-align: center;
  margin-top: 0.5rem;
  margin-right:0.5rem;
}
</style>
<div id="filters">
  <div class="filter">
    <i class="fa-solid fa-fire"></i> <br>
   <p> Trending</p>
  </div>
  <div class="filter">
    <i class="fa-solid fa-bed"></i><br>
   <p>Rooms  </p>
  </div>
</a>
  <div class="filter">
    <i class="fa-solid fa-water"></i><br>
 <p> Amazing pools</p>
  </div>
  <div class="filter">
    <i class="fa-solid fa-plant-wilt"></i> <br>
    <p>Farms</p>
  </div>
  <div class="filter">
    <i class="fa-solid fa-mountain-city"></i><br>
  <p> cities</p>
  </div>
 <div class="filter">
    <i class="fa-solid fa-campground"></i><br>
   <p> Camps</p>
  </div> 
<div class="tax-toggle">
  <div class="form-check-reverse form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">Display after taxes</label>
  </div>
 
</div>
  
</div>
  <body>
    <!-- <h3>All Listings</h3> -->
    <!-- <form method="GET" action="/listings/new">
      <button>Create New Listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-col-md-2 row-cols-sm-1 mt-3">
      <% for(let listing of allListings) { %>
        <a href="/listings/<%=listing._id%>" class="listing-link">
          <div class="card col listing-card" style="width: 20rem;">
            <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;" >
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
             <b>  <%= listing.title %> </b>  <br/>
            
             <!-- -->
            

              <!-- Your EJS template -->
              <% if (listing.price) { %>
             <b>price:</b> ₹<%= listing.price.toLocaleString("en-IN") %> /night
              <% } else { %>
                Price: Not available
              <% } %>
             <i class="tax-info">&nbsp; &nbsp; +18% GST</i>


            <!-- <p>Country: <%=listing.country%> </p> 
              <br/> 
              <p>location:<%=listing.location%> </p>
              <br/>  -->
           

          
            </p>

            
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </a>
        
        <% } %>
    </div>
   
  
  </body>
</html>

<script>
  let taxdefault = document.getElementById("flexSwitchCheckDefault");
  taxdefault.addEventListener("click",() => {
    let taxinfo = document.getElementsByClassName("tax-info");
    for(info of taxinfo) {
      if (info.style.display !="inline") {
      info.style.display="inline";
      } else {
        info.style.display="none";
      }
    }
  })
</script>