<% layout("/layouts/biolerplate") %> <%= success %>
<style>
  .filters {
    display: flex;
    flex-wrap: wrap;
  }
  /* #filt {
    margin-top: 3rem !important;
  } */
  .explore {
   background-color: #BC7FCD;
    color: white;
    border: 1px solid  gray;
  border-radius: 15px;
   width: 10rem;
  }
  .list {
    margin-top: 4rem !important;
  }
.travelll  {
  height: 200px;
  width: 300px;
}
  .filter {
    text-align: center;
    margin-left: 2rem;
    margin-top: 1rem;
    opacity: 0.5;
  }
  .ui-icons ,a {
    color: black;
    text-decoration: none;
    margin-left: 3px;
 margin-top: 1.2rem;
 font-weight: 400 !important;
 
    }

  
  .filter p {
   font-size: 0.7rem;
  }
  .filter:hover {
      opacity: 1;
      cursor: pointer;
    text-decoration: underline;
  }
  .tax-info {
    display: none;
  }
  .underrline {
    margin-left: 1rem;
    font-size: 1.1rem;
    font-weight: 6rem;
  }
  .underrline:hover {
    text-decoration: underline;
    font-weight: 4rem;
  }
  .tax-toggle {
    margin-top: 1rem;
    background-color:  #BC7FCD;
    font-weight: 3rem !important;
    color: white;
    border: 1px solid black;
    margin-left: 1.5rem;
    border-radius:1rem;
    height: 3rem;
    width: 13rem;
  }
.form-check-reverse  {
  text-align: center;
  margin-top: 0.5rem;
  margin-right:0.5rem;
}
.ui-aicons {
  font-size: 1.5rem;
}
</style>
<div class="filters">
<div class="ui-icons">
<b class="underrline"><a href="/listings/accommodations" > Accamodations  </a>  </b> &nbsp; &nbsp;  |  
<b class="underrline"><a href="/listings/offer">Offers &nbsp; &nbsp;  | </a> </b>
<b class="underrline"><a href="/listings/sphere"> StaySphere Bay  &nbsp; &nbsp;  | </a> </b>
<b class="underrline"><a href="/listings/things">Things to do &nbsp; &nbsp;  | </a> </b>
<b class="underrline"><a href="/listings/golf">Golf  &nbsp; &nbsp;  | </a> </b>
<b class="underrline"><a href="/listings/event">Events  </a> </b>
</div>

<div class="tax-toggle ">
  <div class="form-check-reverse form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault"><b>Display after taxes</b></label>
  </div>
 
</div>
  
</div>
  <body>
   
    <div class="row row-cols-lg-3 row-col-md-2 row-cols-sm-1 mt-3 list">
      <% for(let listing of allListings) { %>
         <a href="/listings/<%=listing._id%>" class="listing-link">
          <div class="card col listing-card" style="width: 20rem;">
            <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;" >
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
             <b>  <%= listing.title %> </b>  <br/>
            
            
            

              <!-- Your EJS template -->
              <% if (listing.price) { %>
             <b>price:</b> ₹<%= listing.price.toLocaleString("en-IN") %> /night
              <% } else { %>
                Price: Not available
              <% } %>
             <i class="tax-info">&nbsp; &nbsp; +18% GST</i>


            <!-- <p>Country: <%=listing.country%> </p> 
              <br/> 
              <p>location:<%=listing.location%> </p>
              <br/>  -->
           

            
            </p>
            <button class="explore"><b> Explore details...</b></button>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </a>
        
        <% } %>
    </div>
  
  </body>
</html>

<script>
  let taxdefault = document.getElementById("flexSwitchCheckDefault");
  taxdefault.addEventListener("click",() => {
    let taxinfo = document.getElementsByClassName("tax-info");
    for(info of taxinfo) {
      if (info.style.display !="inline") {
      info.style.display="inline";
      } else {
        info.style.display="none";
      }
    }
  })
</script>